<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helium.helium_flutter">

    <application>
        <!-- Ensure no title bar... maybe move this to Android sdk? -->
        <activity
            android:name="com.tryhelium.paywall.ui.HeliumPaywallActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            tools:replace="android:theme" />
    </application>
</manifest>
