name: Test and Validate

on:
  pull_request:
    types: [opened, synchronize]
    branches: [ main ]
  workflow_call:  # Makes this workflow callable from other workflows

jobs:
  validate-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ['packages/helium_flutter', 'packages/helium_revenuecat']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter --version

      - name: Create .env file
        if: matrix.package == 'packages/helium_flutter'
        run: |
          cat > example/.env <<EOF
          API_KEY=''
          CUSTOM_API_END_POINT=''
          CUSTOM_USER_ID=''
          EOF

      - name: Get dependencies (workspace)
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze
        working-directory: ${{ matrix.package }}

      - name: Run tests
        run: flutter test
        working-directory: ${{ matrix.package }}

#        todo consider running flutter test integration_test from example/ directory

      - name: Check pub publish dry run
        run: flutter pub publish --dry-run
        working-directory: ${{ matrix.package }}
