name: Test and Validate

on:
  pull_request:
    types: [opened, synchronize]
    branches: [ main ]
  workflow_call:  # Makes this workflow callable from other workflows

jobs:
  validate-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter --version

      - name: Create .env file
        run: |
          cat > example/.env <<EOF
          API_KEY=''
          CUSTOM_API_END_POINT=''
          CUSTOM_USER_ID=''
          EOF

      - name: Get dependencies
        run: flutter pub get
        working-directory: packages/helium_flutter

      - name: Analyze code
        run: flutter analyze
        working-directory: packages/helium_flutter

      - name: Run tests
        run: flutter test
        working-directory: packages/helium_flutter

#        todo consider running flutter test integration_test from example/ directory

      - name: Check pub publish dry run
        run: flutter pub publish --dry-run
        working-directory: packages/helium_flutter
